*{
     
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    
}

.Menu{
    background:#ffd700ff;
}
.container {
    width: 96%;
    max-width: 90%;    
    margin: 0 auto;
    
    }


    .img {
    width: 100%;
    height: auto;
    background:#ffd700ff;
    }

    .containner-form{
        position: absolute;
        top: 5%;
        left: 40%;
        transform: translate(120%, 50%);
        background:rgba(0, 0,0,0.8);
        border-radius: 7px;
    }

    .wrapper{
       
        width: 100%;
        max-width: 450px;
        padding: 70px;
        margin: auto;
        height: 100%;    
        
    }

    .title{
       font-size: 2m;
       line-height: 1.25em;
       text-align: center;
       text-transform: uppercase;
       font-weight: 900;
       letter-spacing: 2px;
       color: #ffc107;
       padding-bottom:15px;  
    }
    

    
/*.Menu{
     
    margin: 0px;
    padding: 0px;
    background: rgb(189, 138, 28);
}
.ImageHome{
    display: inline-block;
    margin: 30px 0 0 440px;
    top: 0px;
    padding: 20px;
    width: 600px;
    height: 695px;
    }

.BtnMenu{
    display: block;
    margin: -50px 0 0 730px;
    font-style: italic;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   .Menu{
        margin: 0 0 0;
    }
    .ImageHome{
        display: block;
        margin: 30px 0 5px 40px;
        
        padding: 30px;
        width: 700px;
        height: 1030px;
    }
    
    .BtnMenu{
        padding: 50px;
        margin: -180px 0px 0px 270px;
        font-style: italic;
        font-size: 50px;
    }
    
  }

 
@media (min-width: 320px) and (max-width: 480px) {
    .ImageHome{
        display: block;
        margin: 3px 0px 10px 25px;
        padding: 10px 0 0 1px;
        width: 280px;
        height: 550px;
    }

    .BtnMenu{
        padding: 25px;
        margin:-70px 0px 0px 110px;
        font-style: italic;
        font-size: 20px;
    }
    
  }*/